.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 8vh;
  background-color: rgb(238, 238, 238);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

.logo {
  height: 180px
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.searchbar-bar {
  width: 75%;
  height: 40px;
  border: none;
  border-radius: 7px;
  text-indent: 1rem;
}

.searchbar-bar:focus {
  outline: none;
}

.searchbar-btn {
  border: 0;
  background: #82ad29;
  color: #fff;
  border-radius: 7px;
  width: 3rem;
  height: 42px;
  margin-left: -1rem;
}

.searchbar-btn:active {
  background: red;
}

.ad-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ad-body-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
}

#subtitle {
  text-indent: 1rem;
}