
.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.donate-form {
  height:900px;
}
.title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  text-indent: 1rem;
}
.donateInput input {
  display: flex;
  align-items: center;
  justify-content:center;
  border:0;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  color: #82ad29;
  font-weight: 500;
  text-indent: 1rem;
}

.donateInput select {
  width: 70%;
  font-size: 100px;
}

textarea {
  width: 80%;
  height:70px;
  color: #82ad29;
  font-size: 16px;
  font-weight: 500;
}

.btn-submit {
  border: 0;
  border-radius: 7px;
  background: #82ad29;
  color: #fff;
  width: 10rem;
  height: 40px;
  font-size: 15px;
  margin-top: 1rem;
}
