body {
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.Profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 8vh;
    background-color: rgb(238, 238, 238);
    text-align: center;
  }

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.registar {
    background-color: #363537;
    height: 40px;
    border-radius: 7px;
    width: 180px;
    font-size: 18px;
    color: #fff;
    margin-top: 1rem;
}

input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    
}

.login-data {
    border-radius: 7px;
    border: none;
    text-indent: 1rem;
    height: 40px;
}

.logo {
    margin-top: 60px;
    height: 180px
}

.submit {
    background-color: #82ad29;
    height: 40px;
    border-radius: 7px;
    width: 180px;
    font-size: 18px;
    color: #fff;
    margin-top: 0.5rem;
}

form .submitpop{
    background-color: #82ad29;
    color: #fff;
    height: 40px;
    border-radius: 7px;
    width: 180px;
    font-size: 18px;
    border: 1px solid lightgray
}

.boxes {
    width: 280px;
    border-radius: 7px;
    border: 1px solid lightgray;
    font-size: 17px;
    text-indent: 1rem;
    height: 40px;
}